In [1]:
from fileHandler.excelHandler import Filehandler

In [2]:
myFileHandler = Filehandler("./dataFiles/final_project.xlsx")

myFileHandler.xlsxHandler()

,Relative_Humidity_Percentage,Temperature_Degree_Celsius,Indoor_Mould_CFU_m3
0,45,27.0,2968.2
1,47,26.0,4735.0
2,47,26.7,282.7
3,47,26.0,70.7
4,46,24.3,84.8
...,...,...,...
95,54,27.3,49.5
96,60,26.6,63.6
97,66,26.4,21.2
98,64,25.9,7.1
99,58,25.6,42.4

In [3]:
myFileHandler.project50Handler()